* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
}

body {
  width: 100%;
  font-size: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url("./images/bg.jpg");
  background-repeat: repeat;
  overflow-x: hidden;
}

h1,
h2 {
  margin-bottom: 15px;
}

p {
  font-size: 1em;
  margin-bottom: 15px;
}

.profile-pic-div {
  margin-bottom: 10px;
}

.profile-pic-div img {
  border-radius: 50%;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #333;
  color: #333;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ff4444;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #ff4444;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  display: inline-block;
  width: 200px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

td {
  vertical-align: top;
}

@media all and (max-width: 500px) {
  table {
    width: 100%;
  }

  td {
    display: block;
    width: 100%;
  }

  tr {
    display: block;
    margin-bottom: 30px;
  }
}

.profile-pic-div-1 {
  background-image: url("./images/team-members-pics/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 128px;
  height: 128px;
}

.profile-pic-div-2 {
  background-image: url("./images/team-members-pics/02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 128px;
  height: 128px;
}

.profile-pic-div-3 {
  background-image: url("./images/team-members-pics/03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 128px;
  height: 128px;
}

.profile-pic-div-4 {
  background-image: url("./images/team-members-pics/04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 128px;
  height: 128px;
}

.profile-pic-div-5 {
  background-image: url("./images/team-members-pics/05.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 128px;
  height: 128px;
}
